@import "../../common//colors.scss";

.input-container {
  position: relative;
  display: inline-block;
}

.icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  pointer-events: none;
  color: #aaa;
}

input {
  padding-left: 30px;
  height: 40px;
  width: 200px;
  box-sizing: border-box;
  border-radius: 40px;
  border: none;
  color: #ffffff;
}

.white-input {
  background-color: $font-primary;
  color: $secondary-color;
}
.black-input {
  background-color: $secondary-color;
  color: $font-primary;
}

@media screen and (min-width: 800px) {
  input {
    width: 500px;
  }
}

@media screen and (max-width: 799px) {
}
