@import "../../common//colors.scss";

.toggle-icon {
  cursor: pointer;
  .sun-icon {
    color: $font-primary;
    font-size: 30px;
  }
  .moon-icon {
    color: $secondary-color;
    font-size: 30px;
  }
}
