@import "../../common//colors.scss";

.header {
  height: 72px;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow-x: hidden;
}

.black-header {
  background-color: $secondary-color;
}

.white-header {
  background-color: $font-primary;
}

.logo {
  font-size: 20px;
  font-weight: 600;
}

.white-logo {
  color: $font-primary;
}
.black-logo {
  color: $secondary-color;
}

.user-image,
.user-image img {
  width: 38px;
  height: 38px;
}

.second-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 0 40px;
}

.movie-lane {
  width: 100%;
  margin-top: 30px;
  padding-left: 40px;
  overflow-x: hidden;
}

.movie-list-box {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;

  .link {
    border-radius: 15px;
  }
}
