@import "../../common//colors.scss";

.header {
  background-color: $secondary-color;
  height: 72px;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow-x: hidden;
}

.logo {
  color: $font-primary;
  font-size: 20px;
  font-weight: 600;
}

.user-image,
.user-image img {
  width: 38px;
  height: 38px;
}

.second-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 0 40px;
  // .toggle-icon {
  //   .sun-icon {
  //     color: #ffffff;
  //     font-size: 30px;
  //   }
  //   .moon-icon {
  //     color: #ffffff;
  //     font-size: 30px;
  //   }
  // }
}

.movie-lane {
  width: 100%;
  margin-top: 30px;
  padding-left: 40px;
  overflow-x: hidden;
}

.movie-list-box {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;

  .link {
    border-radius: 15px;
  }
}
