@import "../../common//colors.scss";

.footer {
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: colum;
}

.white-container {
  background-color: $font-primary;
  color: $secondary-color;
}
.black-container {
  background-color: $secondary-color;
  color: $font-primary;
}
